# Java
*.class
*.tmp
*.out
*.bak

# Maven
/target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Logs
logs/
*.log

# Allure
.allure
allure-report/
target/allure-results/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

#Linux
*~
.cache/
.config/
Trash-*/